/* Sidebar container styles */
#fileExplorer {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #f8fafd;
    overflow-y: auto;
    padding: 10px;
    direction: ltr !important;
    box-sizing: border-box;

    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

#container {
    width: 330px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

/* Styling for list items */
#fileExplorer ul {
    list-style-type: none;
    /* Remove default bullets */
    padding-left: 20px;
    /* Remove default padding */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

#fileExplorer li {
    margin: 5px 0;
    /* Margin between items */
    position: relative;
    list-style: none;
}

/* Folder styling */
#fileExplorer .folder {
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 5px;
    border-radius: 100px;
    /* Rounded corners */
    transition: background-color 0.3s;
    /* Smooth background color transition */
    text-decoration: none;
    color: #333;
    height: 32px;
    align-content: center;
    padding-left: 15px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

    min-width: 280px;
    width: auto;
    max-width: fit-content;
}

/* Folder hover effect */
#fileExplorer .folder:hover {
    background-color: #E7E8EB;
    /* Background color on hover */
    text-decoration: none;
}

/* Folder focus effect */
#fileExplorer .folder:focus {
    outline: none !important;
}

/* File styling */
#fileExplorer .file {
    display: block;
    padding: 5px;
    border-radius: 100px;
    /* Rounded corners */
    transition: background-color 0.3s;
    /* Smooth background color transition */
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Text color */
    height: 32px;
    align-content: center;
    padding-left: 15px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

    min-width: 280px;
    width: fit-content;
    max-width: fit-content;
}

/* File hover effect */
#fileExplorer .file:hover {
    background-color: #E7E8EB;
    /* Background color on hover */
}

/* File focus effect */
#fileExplorer .file:focus {
    outline: none !important;
}

/* Indentation for child elements */
#fileExplorer ul ul {
    padding-left: 20px;
    /* Indent child items */
}

#explorerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px #bfbfbf solid;
    padding: 5px;
    padding-bottom: 7px;
    direction: ltr !important;
}

#explorerTitle {
    font-size: 25px;
    color: #1a73e8;
    font-weight: bold;
}

#explorerTitle:focus {
    outline: none;
    background: none;
}

#explorerButton {
    border: none;
    color: #1a73e8;
    transition: all 0.1s ease-out;
    font-size: 30px;
    height: 80%;
    background-color: #f8fafd;
}

#explorerButton:hover {
    font-size: 32px;
}

#explorerButton:focus {
    outline: none;
    background: none;
}


#google-docs-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 330px;
    height: 100%;
    background-color: #f8fafd;
    overflow-y: scroll;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 10px;
    border-right: 2px solid #ddd;
    min-width: 130px;
    direction: rtl;
    overflow-x: hidden;
    bottom: 0;
}

#google-docs-sidebar:focus {
    outline: none;
}


#fileExplorer .file.active {
    background-color: #c2e7ff;
    font-weight: bold;
}


/* Loading style  */
#loadingDiv {
    direction: ltr !important;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#loadingMessage {
    color: #333;
    font-weight: bold;
    font-size: large;
    margin: 20px;
}

#loader {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #fff;
    position: relative;
    display: grid;
    clip-path: inset(-60px 0 -5px);
}

#loader:after {
    content: "";
    position: relative;
    background: repeating-linear-gradient(90deg, #0000 0 calc(50% - 8px), #333 0 calc(50% + 8px), #0000 0 100%) 0 0/calc(100%/3) 100%;
    animation: l6-1 1s infinite;
}

#loader:before {
    content: "";
    position: absolute;
    width: 14px;
    aspect-ratio: 1;
    left: calc(50% - 7px);
    bottom: 0;
    border-radius: 50%;
    background: #1a73e8;
    animation: l6-2 1s infinite;
}

@keyframes l6-1 {

    50%,
    100% {
        background-position: calc(100%/2) 0
    }
}

@keyframes l6-2 {

    0%,
    50% {
        transform: translateY(-80px)
    }
}


/* Folder functionality styling */
.collapsible {
    transition: all 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    height: 0px;
    margin: 0px;
}

.collapsible.expanded {
    transition: all 0.3s ease-out;
    max-height: 1000px;
    opacity: 1;
    height: auto;
}

.folder {
    cursor: pointer;
    font-weight: bold;
}

#resize-handle {
    width: 15px;
    height: 100%;
    background-color: #0000;
    cursor: ew-resize;
    position: absolute;
    right: -2px;
    top: 0;
}


/* Sidebar hidden */
.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Docs header  */
#docsHeader {
    right: 0 !important;
    left: auto;
    width: calc(100% - 345px);
}